@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.heading {
  @apply text-heading text-2xl lg:text-4xl md:text-[2rem] font-semibold tracking-wider  md:tracking-[0.08rem] lg:tracking-[0.09rem]
}

.text {
  @apply text-text  text-sm lg:text-base tracking-[0.035rem] lg:tracking-[0.04rem]
}

.blog-header {
  background-image: url('../public/images/blog_header.jpg');
}




